a{
  text-decoration: none;
  color: inherit;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: white;
}
.header-ttl{
  font-size: 24px;
  width: 80px;
}
.header-logo{
  flex: none;
  width: 200px;
  height: 50px;
}
.header-nav-list{
  display: flex;
  font-weight: bold;
  color: rgb(179, 174, 174);
}
.header-nav-item{
  margin-right: 10px;
}

.relative:not(p){
  position: relative;
}
.relative-img{
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}
.absolute{
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 60px;
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
}
span{
  color: rgb(0, 255, 234);
}
.subete{
  margin-top: 50px;
  font-size: 20px;
}
.edu{
  font-size: 10px;
  color: rgb(179, 174, 174);
  font-family: sans-serif;
}

.news_ttl{
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
  margin: 120px 10px 20px 0;
}
.shin{
  font-size: 20px;
  color: rgb(112, 108, 108);
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 5px solid rgb(179, 174, 174);
  padding-bottom: 2em;
}
.news{
  width: 600px;
  border-bottom: 5px solid rgb(179, 174, 174);
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
.news_item{
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(179, 174, 174);
  color: rgb(126, 122, 122);
}
.day{
  font-size: 15px;
}
.label{
  background-color:rgb(211, 26, 112);
  border-radius:10px;
  color:#fff;
  padding:2px 5px;
  margin:0 20px;
}
.text{
  font-size: 15px;
}

.about{
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
  text-align: center;
  margin-top: 30px;
}
.about_ttl{
  font-weight: bold;
  color: rgb(102, 108, 108);
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.ab{
  width: 100%;
  height: 500px;
  padding-top: 30px;
  margin-top: 50px;
  background-color: rgb(231, 231, 231);
}
.about_box{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.about_coment1{
  color: rgb(139, 138, 138);
  font-size: 15px;
  margin-right: 70px;
}
.about_img{
  width: 350px;
  height: 250px;
  margin-left: 70px;
}

.grid{
  display: grid;
  grid-template-rows: 100px 100px 200px 200px 100px 50px ;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
}
.servise{
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 90px;
}
.servise_ttl{
  font-weight: bold;
  color: rgb(102, 108, 108);
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 20px;
}
.servise_box1{
  background-color: rgb(211, 26, 112);
  grid-column: 2/4;
  grid-row: 3/5;
}
.servise_img1{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 150px
}
.img_ttl1{
  color: #fff;
  margin-top: 40px;
  margin-left: 150px;
  font-size: 25px;
}
.img_coment1{
  margin-top: 50px;
  margin-left: 20px;
  font-size: 15px;
  color: #fff;
}
.servise_box2{
  background-color: rgb(177, 80, 125);
  grid-column: 4/6;
  grid-row: 3/4;
}
.servise_img2{
  grid-column: 4/6;
  grid-row: 3/4;
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 30px;
}
.img_ttl2{
  grid-column: 6/7;
  grid-row: 3/4;
  font-size: 15px;
  background-color: rgb(177, 80, 125);
  font-size: 25px;
  padding-top: 20px;
  color: #fff;
}
.img_coment2{
  grid-column: 6/7;
  grid-row: 3/4;
  font-size: 15px;
  margin-top: 60px;
  padding-right: 20px;
  color: #fff;
}
.servise_box3{
  background-color: rgb(182, 117, 147);
  grid-column: 4/6;
  grid-row: 4/5;
}
.servise_img3{
  grid-column: 4/6;
  grid-row: 4/5;
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 30px;
}
.img_ttl3{
  grid-column: 6/7;
  grid-row: 4/5;
  font-size: 15px;
  background-color: rgb(182, 117, 147);
  font-size: 25px;
  padding-top: 20px;
  color: #fff;
}
.img_coment3{
  grid-column: 6/7;
  grid-row: 4/5;
  font-size: 15px;
  margin-top: 60px;
  padding-right: 20px;
  color: #fff;
}

.bl{
  width: 100%;
  height: 550px;
  padding-top: 30px;
  margin-top: 50px;
  background-color: rgb(231, 231, 231);
}
.blog{
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
  margin-bottom: 20px;
  margin-left: 200px;
}
.blog_ttl{
  font-size: 20px;
  color: rgb(112, 108, 108);
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 200px;
}
.blog_card{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
}
.card {
  width: 30%;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 5px;
  background-color: #fff;
}
.text-box {
  padding: 20px;
  color: rgb(112, 108, 108);
}
.card_img {
  padding: 0px 0;
  text-align: center;
  background: #e1f3ff;
}
.date{
  font-size: 15px;
  margin-top: 20px;
}
.ichiran_btn{
  border: 1px solid rgb(211, 26, 112);
  border-radius: 30px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  color: rgb(211, 26, 112);
  width: 150px;
  margin: 50px auto;
}

.company{
  font-family: 'Gorditas', cursive;
  font-family: 'Indie Flower', cursive;
  color: rgb(211, 26, 112);
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 200px;
}
.com_ttl{
  font-size: 20px;
  color: rgb(112, 108, 108);
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 200px;
}


table {
  width: 60%;
  margin-left: 200px;
  margin-bottom: 50px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
  color: rgb(112, 108, 108);
}
table th {
  font-weight: bold;
  background-color: #dedede;
  color: rgb(112, 108, 108);
}

.img1{
  position: relative;
  background: url(../img/recruit.png) no-repeat center/cover;;
  height: 30vh;
  width: 50vw;
  float: left;
}
.saiyou{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.img2{
  position: relative;
  background: url(../img/interview.png) no-repeat center/cover;
  height: 30vh;
  width: 50vw;
  float: right;
}
.interview{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

.toiawase{
  margin-top: 400px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(112, 108, 108);
}

.line{
  margin:auto;
  display: block;
  width: 2px;
  height: 50px;
  background-color: rgb(211, 26, 112);
}

.toiawase_btn{
  position: relative;
  border: 1px solid rgb(211, 26, 112);
  border-radius: 30px;
  background: linear-gradient(90deg, #ff006a, #8b00be);
  box-shadow: 0px 5px 0px rgb(170, 2, 128);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  width: 200px;
  margin: 50px auto 0;
  display: block;
  font-size: 15px;
  bottom: 5px;
}
.toiawase_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}

footer {
  width: 100%;
  height: 20px;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(230, 230, 230);
  margin-top: 70px;
  color: rgb(139, 138, 138);
}
